<!-- Footer component -->
<footer id="footer">
    <!-- Footer Menu -->
    <div class="footer__menu">
        <div class="footer__container">
            <ul class="footer__menu-list">
                <li class="footer__menu-item">
                    <a href="#" title="Star">Star</a>
                </li>
                <li class="footer__menu-item">
                    <a href="#" title="Ciné">Ciné</a>
                </li>
                <li class="footer__menu-item">
                    <a href="#" title="Musik">Musik</a>
                </li>
                <li class="footer__menu-item">
                    <a href="#" title="Beauty &amp; Fashion">Beauty &amp; Fashion</a>
                </li>
                <li class="footer__menu-item">
                    <a href="#" title="Sport">Sport</a>
                </li>
                <li class="footer__menu-item">
                    <a href="#" title="Đời sống">Đời sống</a>
                </li>
                <li class="footer__menu-item">
                    <a href="#" title="Xã hội">Xã hội</a>
                </li>
                <li class="footer__menu-item">
                    <a href="#" title="Ăn - Quẩy - Đi">Ăn - Quẩy - Đi</a>
                </li>
                <li class="footer__menu-item">
                    <a href="#" title="Xem Mua Luôn">Xem Mua Luôn</a>
                </li>
                <li class="footer__menu-item">
                    <a href="#" title="Thế giới đó đây">Thế giới đó đây</a>
                </li>
                <li class="footer__menu-item">
                    <a href="#" title="Sức khỏe">Sức khỏe</a>
                </li>
                <li class="footer__menu-item">
                    <a href="#" title="Tek-Life">Tek-Life</a>
                </li>
                <li class="footer__menu-item">
                    <a href="#" title="Học đường">Học đường</a>
                </li>
                <li class="footer__menu-item">
                    <a href="#" title="Money-Z">Money-Z</a>
                </li>
                <li class="footer__menu-item">
                    <a href="#" title="Video">Video</a>
                </li>
            </ul>
        </div>
    </div>

    <!-- Footer Top -->
    <div class="footer__top">
        <div class="footer__container w1040">
            <div class="footer__top-left mb-30">
                <a href="#" title="Kênh 14" class="footer__logo"></a>
                <div class="footer__user-response">
                    <span class="footer__section-title">ĐÓNG GÓP NỘI DUNG</span>
                    <div class="footer__contact-links"></div>
                    <a href="#" title="Câu hỏi thường gặp" class="footer__faq-btn">
                        câu hỏi thường gặp
                    </a>
                    <a href="#" target="_blank" class="footer__mail">
                        bandoc@kenh14.vn
                    </a>
                    <p>
                        Kenh14.vn rất hoan nghênh độc giả gửi thông tin và góp ý cho chúng tôi.
                    </p>
                </div>
            </div>
            <div class="footer__top-right">
                <div class="footer__social-plugin" data-href="https://www.facebook.com/K14vn">
                    <iframe
                        src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FK14vn&width=500&height=130"
                        width="500" height="130" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
                        allowfullscreen="true">
                    </iframe>
                </div>
            </div>
        </div>
    </div>        
       
    <!-- Footer Bottom -->
    <div class="footer__bottom clearfix">
        <div class="footer__column">
            <div class="footer__address">
                <p class="footer__column-title">trụ sở hà nội</p>
                <p>
                    Tầng 21, Tòa nhà Center Building, Hapulico Complex, số 1 Nguyễn Huy Tưởng, phường Thanh
                    Xuân Trung, quận Thanh Xuân, Hà Nội.
                    <br>Điện thoại: 024 7309 5555, máy lẻ 62.370
                </p>
                <a href="#" class="footer__map-btn" title="Xem bản đồ">xem bản đồ</a>
            </div>
            <div class="footer__address">
                <p class="footer__column-title">trụ sở tp.hồ chí minh</p>
                <p>
                    Tầng 4, Tòa nhà 123, số 127 Võ Văn Tần, phường 6, quận 3, TP. Hồ Chí Minh.
                    <br>Điện thoại: 028 7307 7979
                </p>
                <a href="#" class="footer__map-btn" title="Xem bản đồ">xem bản đồ</a>
            </div>
        </div>
        <!-- End .footer__column -->

        <div class="footer__column">
            <div class="footer__info-block">
                <p class="footer__column-title">chịu trách nhiệm quản lý nội dung</p>
                <p class="pl0">Bà Nguyễn Bích Minh</p>
            </div>
            <div class="footer__info-block">
                <p class="footer__column-title">hợp tác truyền thông</p>
                <p class="footer__phone">024.73095555 (máy lẻ 62.370)</p>
                <a href="mailto:marketing@kenh14.vn" class="footer__mail--medium-gray">marketing@kenh14.vn</a>
            </div>
            <div class="footer__info-block">
                <p class="footer__column-title">liên hệ quảng cáo</p>
                <p class="footer__phone" id="phonenumber_footer">02473007108</p>
                <a href="mailto:giaitrixahoi@admicro.vn" class="footer__mail--medium-gray">giaitrixahoi@admicro.vn</a>
                <div class="clearfix">
                    <a href="#" title="Xem chi tiết" target="_blank" class="footer__messenger-btn">
                        <span class="footer__messenger-icon">
                                <i class="fa-brands fa-facebook-messenger" style="color: #ffffff;"></i>
                        </span>Chat với tư vấn viên
                    </a>
                    <a href="#" title="Xem chi tiết" target="_blank" class="footer__details-btn">xem chi tiết</a>
                </div>
            </div>
            <div class="footer__info-block">
                <p class="footer__column-title">
                    <a target="_blank" href="#">Chính sách bảo mật</a>
                </p>
            </div>
        </div>
        <!-- End .footer__column -->

        <div class="footer__column">
            <a href="#" title="Công ty Cổ phần VCCorp" target="_blank" class="footer__vccorp-logo">
                <img src="../assets/images/logo/vccorp-s.png" width="100" height="49" loading="lazy"
                    alt="Vccorp">
            </a>
            <p class="footer__column-title"><span>© Copyright 2007 - 2025 – </span>Công ty Cổ phần VCCorp</p>
            <p>Tầng 17, 19, 20, 21 Tòa nhà Center Building - Hapulico Complex, Số 1 Nguyễn Huy Tưởng, Thanh
                Xuân, Hà Nội.</p>
            <p>Giấy phép thiết lập trang thông tin điện tử tổng hợp trên mạng số 2215/GP-TTĐT do Sở Thông
                tin và Truyền thông Hà Nội cấp ngày 10 tháng 4 năm 2019</p>
        </div>
        <!-- End .footer__column -->
    </div>
</footer>