<!-- Header component -->
<header id="header">
    <!-- Header top navigation -->
    <nav class="header__top-navigation">
        <div class="header-content-wrapper"> <!-- Wrapper để căn giữa -->
            <ul>
                <li>
                    <i class="fa-solid fa-star fa-2xs" style="color: #ff6d15; vertical-align: -1px;"></i>
                    <a href="">eMagazine</a>
                </li>
                <li>
                    <i class="fa-solid fa-star fa-2xs" style="color: #ff6d15; vertical-align: -1px;"></i>
                    <a href="">Genz Area</a>
                </li>
                <li>
                    <i class="fa-solid fa-star fa-2xs" style="color: #ff6d15; vertical-align: -1px;"></i>
                    <a href="">XANH chưa - check!!!</a>
                </li>
                <li>
                    <i class="fa-solid fa-star fa-2xs" style="color: #ff6d15; vertical-align: -1px;"></i>
                    <a href="">ShowLive</a>
                </li>
            </ul>
            <div class="header__top-navigation__search">
                <input type="text" placeholder="Tìm kiếm..." />
                <button type="submit">
                    <i class="fa-solid fa-magnifying-glass" style="color: #ffffff;"></i>
                </button>
            </div>
        </div>
    </nav>

    <!-- Header section -->
    <div class="header__section">
        <div class="header-content-wrapper">
            <a href="#" class="header__logo">
                <span aria-label="Logo Kenh14" role="img"></span>
            </a>
            <div class="header__trending-tags">
                <span class="header__trending-icon" aria-label="Trending Icon" role="img"></span>
                <div class="header__trending-item">#G-Dragon biểu diễn tại SVĐ Mỹ Đình</div>
                <div class="header__trending-item">#Wren Evans dính drama ngoại tình</div>
            </div>
        </div>
    </div>

    <!-- Header main menu bar -->
    <nav class="header__main-menu-bar">
        <div class="header-content-wrapper">
            <ul class="header__main-menu-list">
                <li class="header__main-menu-item">
                    <a href="/" class="header__main-menu-link">
                        <i class="fa-solid fa-house"></i>
                    </a>
                </li>
                <li class="header__main-menu-item">
                    <a href="#" class="header__main-menu-link">Star</a>
                </li>
                <li class="header__main-menu-item">
                    <a href="#" class="header__main-menu-link">Ciné</a>
                </li>
                <li class="header__main-menu-item">
                    <a href="#" class="header__main-menu-link">Musik</a>
                </li>
                <li class="header__main-menu-item">
                    <a href="#" class="header__main-menu-link">Beauty & Fashion</a>
                </li>
                <li class="header__main-menu-item">
                    <a href="#" class="header__main-menu-link">Đời sống</a>
                </li>
                <li class="header__main-menu-item">
                    <a href="#" class="header__main-menu-link">Money-Z</a>
                </li>
                <li class="header__main-menu-item">
                    <a href="#" class="header__main-menu-link">Ăn - Quẩy - Đi</a>
                </li>
                <li class="header__main-menu-item">
                    <a href="#" class="header__main-menu-link">Xã hội</a>
                </li>
                <li class="header__main-menu-item">
                    <a href="#" class="header__main-menu-link">Sức khỏe</a>
                </li>
                <li class="header__main-menu-item">
                    <a href="#" class="header__main-menu-link">Tek-life</a>
                </li>
                <li class="header__main-menu-item">
                    <a href="#" class="header__main-menu-link">Học đường</a>
                </li>
                <li class="header__main-menu-item">
                    <a href="#" class="header__main-menu-link">Xem Mua Luôn</a>
                </li>
                <li class="header__main-menu-item">
                    <a href="#" class="header__main-menu-link">Video</a>
                </li>
                <li class="header__main-menu-item header__main-menu-item--more">
                    <a href="#" class="header__main-menu-link">
                        <i class="fa-solid fa-ellipsis" style="color: white;"></i>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</header>