/* Bắt đầu reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li,
a {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    transition: all 0.3s ease;

    &:hover {
        text-decoration: underline;
    }
}

img {
    color: transparent;
}
/* Kết thúc reset CSS */

/* Bắt đầu utility classes - Các lớp tiện ích */
.fl {
    float: left !important;
}

.fr {
    float: right !important;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.no-border {
    border: none !important;
}

.w1040 {
    width: 1040px !important;
}
/* Kết thúc utility classes - Các lớp tiện ích */

/* Bắt đầu margin classes - Các lớp margin */
.mx-0 {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.my-0 {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

.mt-4 {
    margin-top: 4px !important;
}

.mr-4 {
    margin-right: 4px !important;
}

.mb-4 {
    margin-bottom: 4px !important;
}

.ml-4 {
    margin-left: 4px !important;
}

.mx-4 {
    margin-left: 4px !important;
    margin-right: 4px !important;
}

.my-4 {
    margin-top: 4px !important;
    margin-bottom: 4px !important;
}

.mt-20 {
    margin-top: 20px !important;
}

.mr-20 {
    margin-right: 20px !important;
}

.mb-20 {
    margin-bottom: 20px !important;
}

.ml-20 {
    margin-left: 20px !important;
}

.mx-20 {
    margin-left: 20px !important;
    margin-right: 20px !important;
}

.my-20 {
    margin-top: 20px !important;
    margin-bottom: 20px !important;
}

.mt-25 {
    margin-top: 25px !important;
}

.mr-25 {
    margin-right: 25px !important;
}

.mb-25 {
    margin-bottom: 25px !important;
}

.ml-25 {
    margin-left: 25px !important;
}

.mx-25 {
    margin-left: 25px !important;
    margin-right: 25px !important;
}

.my-25 {
    margin-top: 25px !important;
    margin-bottom: 25px !important;
}

.mt-30 {
    margin-top: 30px !important;
}

.mr-30 {
    margin-right: 30px !important;
}

.mb-30 {
    margin-bottom: 30px !important;
}

.ml-30 {
    margin-left: 30px !important;
}

.mx-30 {
    margin-left: 30px !important;
    margin-right: 30px !important;
}

.my-30 {
    margin-top: 30px !important;
    margin-bottom: 30px !important;
}
/* Kết thúc margin classes - Các lớp margin */

/* Bắt đầu width classes - Các lớp độ rộng */
.w-25 {
    width: 25% !important;
}

.w-33 {
    width: 33.333% !important;
}

.w-50 {
    width: 50% !important;
}

.w-100 {
    width: 100% !important;
}
/* Kết thúc width classes - Các lớp độ rộng */
